.card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardFront {
  transform: rotateY(0deg);
}

.cardBack {
  transform: rotateY(180deg);
} 